html {
  scroll-behavior: smooth; }

body {
  min-width: 355px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Comfortaa', cursive, sans-serif; }

.hover {
  transition: all 0.3s; }
  .hover--phone {
    transition: all 0.3s; }
    .hover--phone:hover {
      transform: scale(1.2); }
  .hover:hover {
    padding-bottom: 4px;
    border-bottom: rgba(145, 144, 135, 0.7) solid 2px; }
    .hover:hover a {
      color: #7A7A7A; }

.icon__phone {
  color: #4B4A4A;
  padding-right: 10px; }

.page {
  overflow: hidden; }
  .page__block-title {
    color: #4B4A4A;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3; }
    @media (max-width: 768px) {
      .page__block-title {
        font-size: 20px; } }
  .page__text, .wonderland__prise-text-wrapper {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #7A7A7A; }
    @media (max-width: 768px) {
      .page__text, .wonderland__prise-text-wrapper {
        font-size: 14px; } }
  .page__form {
    position: relative; }

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px; }
  @media (max-width: 768px) {
    .container {
      padding: 0 20px; } }

.header {
  position: relative;
  background-color: #FFF7B9; }
  @media (max-width: 768px) {
    .header {
      margin: 0 0 30px; } }
  .header::after, .wonderland__price-block::after {
    position: absolute;
    bottom: -200px;
    height: 200px;
    width: 100%;
    content: '';
    background-image: url(../img/header-bottom-border.svg);
    background-repeat: no-repeat;
    background-size: contain; }
  .header__top-action {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFF7B9;
    overflow-x: hidden;
    z-index: 99; }
    @media (max-width: 1024px) {
      .header__top-action {
        height: auto; } }
  .header__link-wrapper {
    display: flex;
    gap: 30px;
    margin-right: 30px; }
    @media (max-width: 1024px) {
      .header__link-wrapper {
        display: none; } }
  .header__link {
    margin-bottom: 0;
    padding: 0; }
  .header__wrapper {
    display: flex;
    align-items: center;
    padding: 150px 0 0 0; }
    @media (max-width: 768px) {
      .header__wrapper {
        display: block; } }
  .header__title-wrapper {
    color: #4B4A4A; }
  .header__title {
    margin: 0 0 20px 0;
    min-width: 400px;
    color: #4B4A4A;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0.2px; }
    @media (max-width: 768px) {
      .header__title {
        font-size: 30px; } }
  .header__banner {
    margin: 0 auto;
    width: 80%; }
    .header__banner img {
      width: 100%; }
  .header__description {
    color: #4B4A4A;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.4em; }
    @media (max-width: 768px) {
      .header__description {
        font-size: 15px; } }

.logo {
  margin-right: 20px;
  max-width: 178px; }
  .logo__image {
    width: 100%; }
  @media (max-width: 768px) {
    .logo {
      width: 120px; } }

.menu {
  background-color: #FFF7B9; }
  @media (max-width: 1024px) {
    .menu {
      display: none; } }
  .menu__list {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    @media (max-width: 1024px) {
      .menu__list {
        margin: 0 0 40px;
        flex-direction: column;
        text-align: center; } }
  @media (max-width: 1024px) {
    .menu__link-wrapper {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 20px; } }
  .menu__link {
    color: #4B4A4A;
    text-decoration: none;
    font-size: 18px; }
    @media (max-width: 1024px) {
      .menu__link {
        position: relative; } }
  .menu__burger {
    display: none;
    height: 30px; }
    @media (max-width: 1024px) {
      .menu__burger {
        display: block; } }

.menu-mobile {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  overflow-y: hidden;
  padding-top: 10px;
  background-color: #FFF7B9;
  z-index: 99; }
  .menu-mobile__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 0;
    margin: 0 0 80px;
    list-style-type: none; }
  .menu-mobile__link {
    text-decoration: none;
    font-size: 18px;
    color: #7A7A7A; }
    .menu-mobile__link img {
      display: inline-block;
      height: 30px;
      width: 30px;
      margin: 20px 10px; }
    .menu-mobile__link--phone {
      font-size: 22px; }
  .menu-mobile__top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 20px; }
  .menu-mobile__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .menu-mobile__btn--cross {
    color: rgba(20, 20, 19, 0.7);
    height: 30px; }

.form__large-form {
  margin: 0 0 100px; }

.form__header-container {
  max-width: 400px;
  padding: 40px;
  background-color: #D3FFCC;
  border-radius: 30px; }
  @media (max-width: 768px) {
    .form__header-container {
      margin: -30px auto 20px; } }

.form__bottom-container {
  display: flex;
  justify-content: center;
  padding: 40px; }

.form__left-corner {
  position: absolute;
  top: 0;
  left: 0; }

.form__right-corner {
  position: absolute;
  bottom: 0;
  right: 0; }

.form__wrapper {
  max-width: 880px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.form__title {
  margin: 0 0 5px;
  text-align: center; }
  @media (max-width: 768px) {
    .form__title {
      font-size: 25px; } }

.form__subtitle {
  margin: 0 0 20px;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  line-height: 1.5; }
  @media (max-width: 768px) {
    .form__subtitle {
      font-size: 15px; } }

.form__input-container {
  width: 386px; }
  @media (max-width: 768px) {
    .form__input-container {
      width: 100%; } }

.form__input {
  width: 100%;
  height: 46px;
  margin: 0 0 30px;
  padding: 6px 16px;
  display: flex;
  flex-direction: column;
  border: solid 1px #388DFF;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 400; }

.form__button {
  width: 100%;
  height: 46px;
  color: #4B4A4A;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer; }

.form__button-large-form {
  font-size: 18px;
  margin: 0 0 30px; }
  .form__button-large-form:hover, .form__button:hover {
    color: #FED155;
    background-color: #fff;
    animation: crescendo 0.3s alternate infinite ease-in; }

@keyframes crescendo {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.1); } }

.button {
  font-family: 'Comfortaa', cursive;
  background-color: #FED155;
  border: 1px solid #FED155;
  border-radius: 20px;
  box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.3); }

.about__phrase {
  margin: 0 0 100px;
  font-size: 20px;
  font-weight: 400;
  text-align: end;
  color: #54595F; }
  @media (max-width: 768px) {
    .about__phrase {
      margin: 0 0 50px;
      text-align: center; } }

.about__description {
  margin: 0 50px 50px;
  line-height: 2em; }
  @media (max-width: 768px) {
    .about__description {
      font-size: 14px;
      margin: 25px 0; } }

.goals {
  margin: 0 0 100px; }
  @media (max-width: 768px) {
    .goals {
      display: none; } }
  .goals__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    width: 100%;
    height: 650px; }
  .goals__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 378px;
    height: 378px;
    padding: 30px;
    text-align: center;
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-sizing: border-box; }
    @media (max-width: 768px) {
      .goals__circle {
        display: none; } }
  .goals__main-text {
    font-size: 25px;
    font-weight: 600; }
  .goals__goal {
    position: absolute;
    display: inline-block;
    width: 30%;
    padding: 20px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin: 0;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5em;
    border-radius: 50px; }
    .goals__goal::first-letter {
      font-size: 23px; }
  .goals__goal-1 {
    top: 20%;
    left: 8%; }
  .goals__goal-2 {
    right: 13%;
    top: 13%; }
  .goals__goal-3 {
    left: 2%;
    top: 50%; }
  .goals__goal-4 {
    right: 2%;
    top: 40%; }
  .goals__goal-5 {
    right: 20%;
    bottom: 2%; }
  .goals__goal-green {
    background-color: #D3FFCC; }
  .goals__goal-yellow {
    background-color: #FFF7B9; }
  .goals__bottom-element {
    position: absolute;
    width: 30%;
    height: 30px;
    border-radius: 50px;
    background-color: #D3FFCC; }

.advantages {
  margin: 0 0 150px;
  color: #54595F; }
  .advantages__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 768px) {
      .advantages__container {
        display: block; } }
  .advantages__title {
    margin: 0 0 30px;
    font-family: 'Comfortaa', cursive;
    font-weight: 600; }
  .advantages__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
    font-weight: 300; }
    @media (max-width: 768px) {
      .advantages__list {
        font-size: 14px; } }
  .advantages__item {
    animation: slideInLeft;
    margin: 0 0 30px; }
    .advantages__item:nth-child(1) {
      animation-delay: 300ms; }
    .advantages__item:nth-child(2) {
      animation-delay: 600ms; }
    .advantages__item:nth-child(3) {
      animation-delay: 900ms; }
    .advantages__item:nth-child(4) {
      animation-delay: 1200ms; }
    .advantages__item:nth-child(5) {
      animation-delay: 1500ms; }
    .advantages__item:nth-child(6) {
      animation-delay: 1800ms; }
    .advantages__item:nth-child(7) {
      animation-delay: 2100ms; }
    .advantages__item:nth-child(8) {
      animation-delay: 2400ms; }
    .advantages__item:nth-child(9) {
      animation-delay: 2700ms; }
    .advantages__item:nth-child(10) {
      animation-delay: 3000ms; }
    .advantages__item:nth-child(11) {
      animation-delay: 3300ms; }
    .advantages__item:nth-child(12) {
      animation-delay: 3600ms; }
    .advantages__item:nth-child(13) {
      animation-delay: 3900ms; }
    .advantages__item:nth-child(14) {
      animation-delay: 4200ms; }
    .advantages__item:nth-child(15) {
      animation-delay: 4500ms; }
  .advantages__image {
    height: 90%; }
  .advantages__bottom-element {
    position: absolute;
    right: 0px;
    width: 30%;
    height: 30px;
    border-radius: 50px;
    background-color: #FFF7B9; }

.daily-routine {
  margin: 0 0 300px; }
  @media (max-width: 768px) {
    .daily-routine {
      margin-bottom: 200px; } }
  .daily-routine__wrapper {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px; }
    .daily-routine__wrapper button {
      transition: all 0.3s;
      cursor: pointer; }
      .daily-routine__wrapper button:hover {
        color: #7A7A7A;
        background-color: #FFF7B9; }
    @media (max-width: 768px) {
      .daily-routine__wrapper {
        padding: 0; } }
  .daily-routine__phrase {
    line-height: 2em; }
  .daily-routine__popup-btn {
    margin: 0 auto;
    width: -moz-max-content;
    width: max-content;
    padding: 20px 40px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    text-align: center; }

.made {
  margin: 0 0 100px;
  font-family: 'Comfortaa', cursive; }
  .made__top {
    position: relative;
    background-color: #FFF7B9; }
    .made__top::before, .wonderland__price-block::before {
      content: '';
      position: absolute;
      top: -165px;
      left: 0;
      right: 0;
      height: 171px;
      background-image: url(../img/made-top-el.svg);
      background-repeat: no-repeat;
      background-size: cover;
      transform: rotate(180deg); }
    .made__top::after {
      content: '';
      position: absolute;
      bottom: -150px;
      width: 100%;
      height: 150px;
      background-image: url(../img/made-bottom-el.svg);
      background-repeat: no-repeat;
      background-size: cover; }
  .made__in-space {
    margin: 0 0 250px;
    display: flex;
    flex-direction: column; }
    @media (max-width: 768px) {
      .made__in-space {
        margin-bottom: 150px; } }
  .made__title {
    margin: 0 0 30px;
    color: #4B4A4A;
    font-weight: 600;
    text-align: center; }
  .made__title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .made__list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .made__strong {
    color: #4B4A4A; }
  .made__item {
    margin: 0 0 64px;
    font-size: 20px;
    font-weight: 300;
    animation: slideInLeft; }
    .made__item-1 {
      animation-delay: 200ms; }
    .made__item-2 {
      padding-left: 50px;
      animation-delay: 400ms; }
    .made__item-3 {
      padding-left: 100px;
      animation-delay: 600ms; }
    .made__item-4 {
      padding-left: 150px;
      animation-delay: 800ms; }
    .made__item:last-child {
      margin: 0; }
    @media (max-width: 768px) {
      .made__item {
        padding: 0;
        font-size: 14px; } }
  .made__subtitle {
    margin: 0 0 60px;
    color: #4B4A4A;
    font-weight: 300;
    line-height: 1.3; }
  .made__purpose-list-second {
    position: relative;
    margin: 0 0 200px;
    list-style-type: none;
    -moz-column-count: 2;
    column-count: 2;
    padding: 0; }
    @media (max-width: 768px) {
      .made__purpose-list-second {
        padding: 0 15px;
        -moz-column-count: 1;
        column-count: 1;
        margin-bottom: 100px; } }
  .made__purpose {
    display: flex;
    margin: 0 0 70px;
    font-weight: 300;
    line-height: 1.3;
    color: #4B4A4A; }
    .made__purpose:last-child {
      position: absolute;
      right: 25%;
      margin: 0; }
      @media (max-width: 768px) {
        .made__purpose:last-child {
          position: relative;
          right: 0; } }
    @media (max-width: 768px) {
      .made__purpose {
        margin-bottom: 40px; } }
  .made__number {
    position: absolute;
    width: 38px;
    height: 50px;
    padding-left: -50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: rollIn; }
    .made__number-1 {
      background-image: url(../img/1-1.png); }
    .made__number-2 {
      background-image: url(../img/1-2.png); }
    .made__number-3 {
      background-image: url(../img/1-3.png); }
    .made__number-4 {
      background-image: url(../img/1-4.png); }
    .made__number-5 {
      background-image: url(../img/1-5.png); }
    .made__number-6 {
      background-image: url(../img/1-6.png); }
    .made__number-7 {
      background-image: url(../img/1-7.png); }
    .made__number-8 {
      background-image: url(../img/1-8.png); }
    .made__number-9 {
      background-image: url(../img/1-9.png); }
  .made__purpose-text {
    position: relative;
    margin-left: 70px; }
  .made__group-wrapper {
    display: flex;
    gap: 20px; }
    @media (max-width: 768px) {
      .made__group-wrapper {
        display: block; } }
  .made__group {
    text-align: center;
    padding: 40px 20px;
    width: 33%;
    background-color: #FFF7B9; }
    @media (max-width: 768px) {
      .made__group {
        width: auto;
        margin-bottom: 20px; } }
  .made__group-title {
    margin: 0 0 20px;
    text-align: center; }
  .made__group-name {
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 400; }
  .made__description {
    margin: 0;
    padding: 30px 0 0;
    line-height: 1.5em; }

.personal {
  position: relative; }
  .personal__block {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 100px; }
    @media (max-width: 768px) {
      .personal__block {
        display: block;
        margin: 0 auto; } }
  .personal__text-wrapper {
    width: 50%;
    box-sizing: border-box; }
    @media (max-width: 768px) {
      .personal__text-wrapper {
        width: 100%; } }
  .personal__img-plate {
    background-image: url(../img/plate-food.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    min-height: 500px; }
    @media (max-width: 768px) {
      .personal__img-plate {
        width: 100%; } }
  .personal__img-teacher {
    width: 50%; }
    .personal__img-teacher img {
      width: 100%; }
    @media (max-width: 768px) {
      .personal__img-teacher {
        width: 100%; } }
  .personal__paragraph {
    margin: 0 0 40px;
    line-height: 1.4; }
    @media (max-width: 768px) {
      .personal__paragraph {
        line-height: 2; } }

.subjects {
  margin: 0 0 250px; }
  @media (max-width: 768px) {
    .subjects {
      margin: 0 0 100px; } }
  .subjects__top-block {
    background-color: #D3FFCC; }
    .subjects__top-block::after {
      content: '';
      width: 100px;
      height: 100px;
      bottom: -50px;
      background-image: url(../img/subject-el.svg);
      background-position: center;
      background-size: contain; }
    .subjects__top-block--el {
      transform: rotate(180deg); }
  .subjects__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 300px; }
    @media (max-width: 768px) {
      .subjects__wrapper {
        min-height: 200px; } }
  .subjects__title-wrapper {
    margin-left: 10%;
    max-width: 720px; }
  .subjects__title {
    margin: 0 0 20px;
    font-size: 40px;
    text-align: center; }
    @media (max-width: 768px) {
      .subjects__title {
        font-size: 20px; } }
  .subjects__img-book {
    position: absolute;
    right: 0;
    top: -25%;
    width: 20%;
    height: 100%;
    background-image: url(../img/books.png);
    background-size: contain;
    background-repeat: no-repeat; }
    @media (max-width: 768px) {
      .subjects__img-book {
        display: none; } }
  .subjects__list {
    margin: 0 0 80px;
    padding: 0;
    font-size: 18px;
    -moz-column-count: 2;
    column-count: 2;
    -moz-column-gap: 80px;
    column-gap: 80px;
    list-style-type: none; }
    @media (max-width: 768px) {
      .subjects__list {
        padding-top: 50px;
        -moz-column-count: 1;
        column-count: 1;
        font-size: 14px; } }
  .subjects__item {
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 1.4em;
    color: #7A7A7A; }
  .subjects__paragraph {
    margin: 0 0 32px;
    line-height: 2; }

.wonderland {
  margin: 0 0 50px;
  color: #515151; }
  .wonderland__block {
    display: flex;
    padding: 40px;
    margin: 0 0 300px;
    background-color: #FFF7B9;
    border-radius: 50px; }
    @media (max-width: 768px) {
      .wonderland__block {
        margin: 0 0 150px; } }
  .wonderland__text-wrapper {
    width: 60%;
    text-align: center; }
    @media (max-width: 768px) {
      .wonderland__text-wrapper {
        width: 100%; } }
  .wonderland__title {
    margin: 0 0 70px;
    font-weight: 400; }
  .wonderland__text {
    font-size: 16px;
    line-height: 1.5; }
  .wonderland__top-img {
    position: relative;
    width: 40%; }
    .wonderland__top-img img {
      position: absolute;
      top: -200px;
      width: 100%; }
    @media (max-width: 768px) {
      .wonderland__top-img {
        display: none; } }
  .wonderland__groups-wrapper {
    display: flex;
    justify-content: space-around; }
    @media (max-width: 768px) {
      .wonderland__groups-wrapper {
        flex-direction: column; } }
  .wonderland__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .wonderland__group-name {
    font-weight: 400;
    color: #515151;
    font-size: 30px; }
  .wonderland__group-time {
    margin: 0 0 25px;
    font-size: 20px;
    font-weight: 400; }
  .wonderland__cost {
    padding: 10px 25px;
    margin: 0 0 50px;
    color: #fff;
    font-size: 20px;
    border-radius: 10px; }
  .wonderland__price-block {
    position: relative;
    background-color: #FFF7B9; }
  .wonderland__prise-block {
    display: flex;
    justify-content: center; }
  .wonderland__prise-text-wrapper {
    max-width: 880px;
    text-align: center;
    line-height: 1.6; }
  .wonderland__prise-text {
    margin: 0 0 40px; }
  .wonderland__discount-wrapper {
    margin: 0 0 300px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .wonderland__discount-wrapper:nth-child(-n) {
      margin: 0 0 24px; }
    @media (max-width: 768px) {
      .wonderland__discount-wrapper {
        margin: 0 0 100px; } }
  .wonderland__discount-title {
    margin: 0 0 24px;
    font-size: 20px;
    font-weight: 600; }
  .wonderland__discount-text {
    margin: 0 0 24px;
    color: #7A7A7A; }
  .wonderland__video-wrapper {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #FFF7B9; }
    @media (max-width: 768px) {
      .wonderland__video-wrapper {
        padding: 20px; } }
  .wonderland__video {
    width: 100%;
    height: 700px; }
    @media (max-width: 768px) {
      .wonderland__video {
        height: 350px; } }

.footer__contacts-wrapper {
  position: relative;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center; }

.footer__contacts {
  width: 100%;
  margin: 0 0 50px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center; }

.footer__link, .header__link {
  position: relative;
  padding-left: 40px;
  width: -moz-max-content;
  width: max-content;
  text-decoration: none;
  line-height: 2;
  color: #7A7A7A; }
  .footer__link-1::before {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url(../img/social-1.png);
    background-size: contain;
    content: ""; }
  .footer__link-2::before {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url(../img/social-2.png);
    background-size: contain;
    content: ""; }
  .footer__link-3::before {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url(../img/social-3.png);
    background-size: contain;
    content: ""; }
  .footer__link-4::before {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url(../img/social-4.png);
    background-size: contain;
    content: ""; }

.footer__container {
  display: flex;
  align-items: center;
  margin: 0 0 50px; }
  @media (max-width: 768px) {
    .footer__container {
      margin: 0;
      display: block; } }

.footer__img {
  width: 50%; }
  @media (max-width: 768px) {
    .footer__img {
      width: 100%; } }
  .footer__img img {
    width: 100%; }

.footer__top-block {
  padding-bottom: 10px;
  background-color: #D3FFCC; }
  .footer__top-block-el {
    transform: rotate(180deg); }

.footer__map-wrapper {
  width: 50%; }
  @media (max-width: 768px) {
    .footer__map-wrapper {
      width: 100%; } }

.footer__map {
  width: 100%;
  height: 300px; }

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */ }

#popup__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.popup {
  display: none; }
  .popup__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF7B9;
    border-radius: 20px;
    padding: 40px;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #515151; }
  .popup__close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer; }
  .popup__list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .popup__item {
    display: flex;
    margin: 0 0 20px;
    line-height: 1.4; }
    .popup__item:last-child {
      margin: 0; }
    .popup__item time {
      min-width: 130px; }
  .popup__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); }

#slider {
  display: flex; }
  #slider div {
    max-height: 400px; }
    #slider div img {
      display: block;
      max-width: 100%; }

.slider {
  margin-bottom: 50px; }

.slick-slide {
  margin: 0 27px; }

.slick-prev {
  color: #54595F; }

.slick-next {
  color: #54595F; }

/* the parent */
.slick-list {
  margin: 0 -27px; }

html {
  scroll-padding-top: 150px;
  /* height of sticky header */ }

.underline {
  position: relative; }
  .underline::before {
    content: '';
    left: -10px;
    top: 80%;
    position: absolute;
    width: 0;
    height: 100px;
    border: solid 3px #FED155;
    border-color: #FED155 transparent transparent transparent;
    border-radius: 50%/5px 10px 0 0;
    animation: underline 0.8s forwards 2s ease-in-out; }
  .underline::after {
    content: '';
    position: absolute;
    left: -10px;
    top: 100%;
    height: 100px;
    border: solid 3px #FED155;
    border-color: #FED155 transparent transparent transparent;
    border-radius: 50%/5px 10px 0 0;
    animation: underline 0.8s forwards 2.5s ease-in-out; }

@keyframes underline {
  0% {
    width: 0; }
  100% {
    width: 110%; } }
