@import "utils/vars";

@mixin onTablet {
  @media (max-width:768px) {
    @content;
  }
}
@mixin onDesktop {
  @media (max-width: 1024px) {
    @content;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  font-family: 'Comfortaa', cursive;
}

.page {
  overflow: hidden;

  &__block-title {
    color: $title-text-color;
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;

    @include onTablet {
      font-size: 20px;
    }
  }

  &__text {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: $main-text;

    @include onTablet {
      font-size: 14px;
    }
  }

  &__form {
    position: relative;
  }
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;

  @include onTablet {
    padding: 0 20px;
  }
}

.header {
  position: relative;
  background-color: $general-yellow;

  @include onTablet {
    margin: 0 0 30px;
  }

  &::after {
    position: absolute;
    bottom: -200px;
    height: 200px;
    width: 100%;
    content: '';
    background-image: url(../img/header-bottom-border.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__top-action {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: $general-yellow;
    overflow-x: hidden;
    z-index: 99;
  }

  &__link-wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 30px;

    @include onDesktop {
      display: none;
    }
  }

  &__link {
    @extend .footer__link;
    margin-bottom: 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 150px 0 0 0;

    @include onTablet {
      display: block;
    }
  }

  &__title-wrapper {
    color: $title-text-color;
  }

  &__title {
    margin: 0 0 20px 0;
    min-width: 400px;
    color: $title-text-color;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: 0.2px;

    @include onTablet {
      font-size: 30px;
    }
  }

  &__description {
    color: $title-text-color;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.4em;

    @include onTablet {
      font-size: 15px;
    }
  }
}

.logo {

  &__wrapper {
    margin-right: 20px;
    @include onDesktop {
    }
  }
  &__image {
    width: 174px;
    height: 94px;
  }
}

.menu {
  background-color: $general-yellow;

  @include onDesktop{
    display: none;
  }

  &__list {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;

    @include onDesktop {
      margin: 0 0 40px;
      flex-direction: column;
    }
  }

  &__link-wrapper {
    @include onDesktop {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__link {
    color: $title-text-color;
    text-decoration: none;
    font-size: 18px;
    @include onDesktop {
      position: relative;
    }
  }
}

.menu-mobile {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color:#fff;
  z-index: 99;

  &__top {
    margin-bottom: 50px;
  }

  &__nav-link {

  }

  &__bottom-link {
    position: relative;
  }
}

.form {

  // &__small-form {
  // }

  &__large-form {
    margin: 0 0 100px;
  }

  &__header-container {
    max-width: 400px;
    padding: 40px;
    background-color: $general-green;
    border-radius: 30px;

    @include onTablet {
      margin: -30px auto 20px;
    }
  }

  &__bottom-container {
    display: flex;
    justify-content: center;
    padding: 40px;
  }

  &__left-corner {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__right-corner {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
 
  &__wrapper {
    max-width: 880px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }

  &__title {
    margin: 0 0 5px;
    text-align: center;
    
    @include onTablet {
      font-size: 25px;
    }
  } 

  &__subtitle {
    margin: 0 0 20px;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;

    @include onTablet {
      font-size: 15px;
    }
  }

  &__input-container {
    width: 386px;
    
    @include onTablet {
      width: 100%;
    }
  }

  &__input {
    width: 100%;
    height: 46px;
    margin: 0 0 30px;
    padding: 6px 16px;
    display: flex;
    flex-direction: column;
    border: solid 1px #388DFF;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 400;
  }
  
  &__button {
    width: 100%;
    height: 46px;
    color: $title-text-color;
    font-size: 15px;
    font-weight: 600;

    &:hover {
      @extend .form__button-large-form:hover;
    }
  }

  &__button-large-form {
    font-size: 18px;
    margin: 0 0 30px;

    &:hover {
      color: #FED155;
      background-color: #fff;
      animation: crescendo 0.3s alternate infinite ease-in;
    }

    @keyframes crescendo {
      0%   {transform: scale(1);}
      100% {transform: scale(1.1);}
    }
  }
}

.button {
  font-family: 'Comfortaa', cursive;
  background-color: $button-color;
  border: 1px solid $button-color;
  border-radius: 20px;
  box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.3);
}

.icon {
  &__phone {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    &::before {
      content: 'f2a0';
    }
  }
}

.about {
  &__phrase {
    margin: 0 0 100px;
    font-size: 20px;
    font-weight: 400;
    text-align: end;
    color: $secondary-text;

    @include onTablet {
      margin: 0 0 50px;
      text-align: center;
    }
  }
  &__description {
    margin: 0 50px 50px;
    line-height: 2em;

    @include onTablet {
      font-size: 14px;
      margin: 25px 0;
    }
  }
}

.goals {
  margin: 0 0 100px;

  @include onTablet {
    display: none;
  }
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    object-position: 50% 50%;
    width: 100%;
    height: 650px;

    
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 378px;
    height: 378px;
    padding: 30px;
    text-align: center;
    background-image: url(../img/circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-sizing: border-box;

    @include onTablet {
      display: none;  
    }
  }

  &__main-text {
    font-size: 25px;
    font-weight: 600;
  }

  &__goal {
    position: absolute;
    display: inline-block;
    width: 30%;
    padding: 20px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin: 0;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5em;
    border-radius: 50px;

    &::first-letter {
      font-size: 23px;
    }

  }
  &__goal-1 {
    top: 20%;
    left: 8%;
  }
  &__goal-2 {
    right: 13%;
    top: 13%;
  }
  &__goal-3 {
    left: 2%;
    top: 50%;
  }
  &__goal-4 {
    right: 2%;
    top: 40%;
  }
  &__goal-5 {
    right: 20%;
    bottom: 2%;
  }

  &__goal-green {
    background-color: $general-green;
  }

  &__goal-yellow {
    background-color: $general-yellow;
  }

  &__bottom-element {
    position: absolute;
    left: -10px;
    width: 30%;
    height: 30px;
    border-radius: 50px;
    background-color: $general-green;
  }
}

.advantages {
  margin: 0 0 150px;
  color: $secondary-text;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      display: block;
    }
  }

  &__title {
    margin: 0 0 30px;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;

  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
    font-weight: 300;

    @include onTablet {
      font-size: 14px;
    }
  }

  &__item {
    margin: 0 0 30px;
  }

  &__image {
    height: 90%;
  }

  &__bottom-element {
    position: absolute;
    right: -10px;
    width: 30%;
    height: 30px;
    border-radius: 50px;
    background-color: $general-yellow;
  }
}

.daily-routine {
  margin: 0 0 300px;

  @include onTablet {
    margin-bottom: 200px;
  }

  &__wrapper {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;

    @include onTablet {
      padding: 0;
    }
  }
  &__phrase {
    line-height: 2em;

  }

  &__popup-btn {
    margin: 0 auto;
    width: max-content;
    padding: 20px 40px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
  }
}

.made {

  margin: 0 0 100px;
  font-family: 'Comfortaa', cursive;
  
  &__top {
    position: relative;
    background-color: $general-yellow;

    &::before {
      content: '';
      position: absolute;
      top: -165px;
      left: 0;
      right: 0;
      height: 171px;
      background-image: url(../img/made-top-el.svg);
      background-repeat: no-repeat;
      background-size: cover;
      transform: rotate(180deg);
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -150px;
      width: 100%;
      height: 150px;
      background-image: url(../img/made-bottom-el.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__in-space {
    margin: 0 0 250px;
    display: flex;
    flex-direction: column;

    @include onTablet {
      margin-bottom: 150px;
    }
  }

  &__title {
    margin: 0 0 30px;
    color: $title-text-color;
    font-weight: 600;
    text-align: center;
  }

  &__title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__strong {
    color: $title-text-color;
  }

  &__item {
    margin: 0 0 64px;
    font-size: 20px;
    font-weight: 300;
    animation: slideInLeft;

    
    &-1 {
      animation-delay: 200ms;
    }
    &-2 {
      padding-left: 50px;
      animation-delay: 400ms;
    }
    &-3 {
      padding-left: 100px;
      animation-delay: 600ms;
    }
    &-4 {
      padding-left: 150px;
      animation-delay: 800ms;
    }

    &:last-child {
      margin: 0;
    }

    @include onTablet {
      padding: 0;
      font-size: 14px;
    }
  }
  
  &__subtitle {
    margin: 0 0 40px;
    color: $title-text-color;
    font-weight: 300;
    line-height: 1.3;
  }

  &__purpose-list-second {
    margin: 0 0 200px;
    list-style-type: none;
    column-count: 2;
    padding: 0;

    @include onTablet {
      column-count: 1;
      margin-bottom: 100px;
    }
  }

  &__purpose {
    display: flex;
    margin: 0 0 40px;
    font-weight: 300;
    line-height: 1.3;
    color: $title-text-color;

  }

  &__number {
    position: absolute;
    width: 38px;
    height: 50px;
    padding-left: -50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: animate__rollIn;
    
    @for $index from 1 through 9 {
      &-#{$index} {
        background-image: url(../img/1-#{$index}.png);
      }
    }
  }

  &__purpose-text {
    position: relative;
    margin-left: 70px;
  }

  &__group-wrapper {
    display: flex;
    gap: 20px;

    @include onTablet {
      display: block;
    }
  }

  &__group {
    text-align: center;
    padding: 40px 20px;
    width: 33%;
    background-color: $general-yellow;

    @include onTablet {
      width: auto;
      margin-bottom: 20px;
    }
  }

  &__group-title {
    margin: 0 0 20px;
    text-align: center;
  }

  &__group-name {
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 400;
  }

  &__description {
    margin: 0;
    padding: 30px 0 0;
    line-height: 1.5em;
  }
}

.personal {
  position: relative;
  &__block {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 100px;

    @include onTablet {
      display: block;
      margin: 0 auto;
    }
  }

  &__text-wrapper {
    width: 50%;
    box-sizing: border-box;

    @include onTablet {
      width: 100%;
    }
  }

  &__img-plate {
    background-image: url(../img/plate-food.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    min-height: 500px;

    @include onTablet {
      width: 100%;
    }
  }
  &__img-teacher {
    width: 40%;

    @include onTablet {
      width: 100%;
    }
  }

  &__paragraph {
    margin: 0 0 40px;
    line-height: 1.4;

    @include onTablet {
      line-height: 2;
    }
  }
}

.subjects {
  margin: 0 0 250px;

  @include onTablet {
    margin: 0 0 100px;
  }

  &__top-block {
    background-color: $general-green;

   

    &::after {
      content: '';
      width: 100px;
      height: 100px;
      bottom: -50px;
      background-image: url(../img/subject-el.svg);
      background-position: center;
      background-size: contain;
    }

    &--el {
      transform: rotate(180deg);
    }

  }
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 300px;
    @include onTablet {
      min-height: 200px;
    }
  }
  &__title-wrapper {
    margin-left: 10%;
    max-width: 720px;
  }
  &__title {
    margin: 0 0 20px;
    font-size: 40px;
    text-align: center;

    @include onTablet {
      font-size: 20px;
    }
  }

  &__img-book {
    position: absolute;
    right: 0;
    top: -20px;
    width: 200px;
    height: 200px;
    background-image: url(../img/books.png);
    background-size: cover;

    @include onTablet {
      width: 70px;
      height: 70px;
    }
  }

  &__list {
    margin: 0 0 80px  ;
    padding: 0;
    font-size: 18px;
    column-count: 2;
    column-gap: 80px;
    list-style-type: none;

    @include onTablet {
      padding-top: 50px;
      column-count: 1;
      font-size: 14px;
    }
  }

  &__item {
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 1.4em;
    color: $main-text;
  }
  &__paragraph {
    margin: 0 0 32px;
    line-height: 2;
  }
}

.wonderland {
  margin: 0 0 50px;
  color: $primary-text;

  &__block {
    position: relative;
    padding: 40px;
    margin: 0 0 300px;
    background-color: $general-yellow;
    border-radius: 50px;

    @include onTablet {
      margin: 0 0 150px;
    }
  }

  &__text-wrapper {
    width: 60%;
    text-align: center;

    @include onTablet {
      width: 100%;
    }
  }

  &__title {
    margin: 0 0 70px;
    font-weight: 400;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
  }

  &__top-img {
    position: absolute;
    top: -200px;
    right: 0;
    width: 40%;
    height: 600px;


    @include onTablet {
      display: none;
    }
  }

  &__groups-wrapper {
    display: flex;
    justify-content: space-around;

    @include onTablet {
      flex-direction: column;
    }
  }
  &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__group-name {
    font-weight: 400;
    color: #515151;
    font-size: 30px;
  }

  &__group-time {
    margin: 0 0 25px;
    font-size: 20px;
    font-weight: 400;
  }

  &__cost {
    padding: 10px 25px;
    margin: 0 0 50px;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
  }
  &__price-block {
    position: relative;
    background-color: $general-yellow;
    &::before {
      @extend .made__top::before;
    }
    &::after {
      @extend .header::after;
    }
  }
  &__prise-block {
    display: flex;
    justify-content: center;

    
  }
  &__prise-text-wrapper {
    max-width: 880px;
    text-align: center;
    @extend .page__text;
    line-height: 1.6;
  }
  &__prise-text {
    margin: 0 0 40px;
  }
  &__discount {

    &-wrapper {
      margin: 0 0 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      &:nth-child(-n) {
        margin: 0 0 24px;
      }

      @include onTablet {
        margin: 0 0 100px;
      }
    }
    &-title {
      margin: 0 0 24px;
      font-size: 20px;
      font-weight: 600;
    }
    &-text {
      margin: 0 0 24px;
      color: $main-text;
    }
  }

  &__video-wrapper {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: $general-yellow;

    @include onTablet {
      padding: 20px;
    }
  }

  &__video {
    width: 100%;
    height: 700px;

    @include onTablet {
      height: 350px;
    }
  }
}

.footer {
  
  &__contacts-wrapper {
    position: relative;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
  }
  &__contacts {
    width: 100%;
    margin: 0 0 50px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    
  }

  &__link {
    position: relative;
    padding-left: 50px;
    width: max-content;
    text-decoration: none;
    line-height: 2;
    color: $main-text;

    @for $index from 1 through 4 {
      &-#{$index}::before {
        position: absolute;
        left: 0;
        width: 30px;
        height: 30px;
        background-image: url(../img/social-#{$index}.png);
        background-size: contain;
        content: "";
      }
    }

  }
  &__container {
    display: flex;
    margin: 0 0 50px;

    @include onTablet {
      margin: 0;
      display: block;
    }
  }
  &__img {
    width: 50%;
    @include onTablet {
      width: 100%;
    }
  }

  &__top-block {
    padding-bottom: 10px;
    background-color: $general-green;
    &-el {
      transform: rotate(180deg);
    }
  }
  &__map-wrapper {
    width: 50%;

    @include onTablet {
      width: 100%;
    }
  }
  &__map {
    width: 100%;
    height: 100%;
  }
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#popup__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.popup {
  span {
    padding-left: 20px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $general-yellow;
    border-radius: 20px;
    padding: 40px;
    color: $primary-text;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__item {
    margin: 0 0 20px;
    line-height: 1.4;
    &:last-child {
      margin: 0;
    }
  }
  
}
